body{
    margin: 0 auto;
    background-color: #1a1a1a;
    font-family: 'Oswald', sans-serif;
}
.navbar-container{
    width: 100%;
    height: 70px;
    #padding: 0;
    background-color: black;
}
.navbar{
    #box-sizing: border-box;
    #width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    background-color: black;
    text-decoration-line: none;
    list-style: none;
    text-decoration: none;
    line-height: 70px;
    position: relative;
    background-color: black;
    padding: 0;
    
}
.nav-right{
    margin-left: 13.5%;
    margin-right: 10%;
    #display: none;
    #visibility: hidden;
}
.nav-left{
    margin-right: 13.5%;
    margin-left: 10%;
}
.search-text{
    #display: none;
    #visibility: hidden;
}
.search-container{
    display: inline-flex;
    position: absolute;
    z-index: 99999;
    background-color: aqua;
    width: 0%;
    /*Changne this*/
    height: 40px;
    top: 15px;
    right: 10%;
    #margin-left: -4.5%;
    #margin-right: 10%;
    display: none;
    visibility: hidden;
}
.search-input{
    width: 80%;
    font-size: 100%;
    font-family: 'Oswald', sans-serif;
}
.search-button{
    width: 20%;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    background-color: black;
    outline: none;
}
.search-image{
    width: 60%;
    height: auto;
    filter: invert(100%);
    transition: all.2s ease;
}
.navbar-item{
    padding: 0;
    width: 8%;
    height: 70px;
    background-color: black;
    #line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    height: 70px;
    cursor: pointer;
    transition: all.5s ease;
}
.nav-right{
    #width: 16%;
    #margin-left: 5.5%;
    #background-color: red;
}
.nav-home{
    width: 5%;
}

li a{
    text-decoration-line: none;
    list-style: none;
    text-decoration: none;
    color: dimgray;
    font-size: 100%;
    white-space: nowrap;
}
.image-logo{
    margin: 0 auto;
    height: 70px;
    width: 100%;
}
/*Flexbox*/
.flexbox{
    position: absolute;
    z-index: 999;
    width:100%;
    left: 0;
    top: 70px;
    padding-left: 0px;
    height: 400px;
    background-color: #1a1a1a;
    display: none;
    visibility: hidden;
    #visibility: visible;
    #display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}
.flexbox-item{
    #top: 60px;
    text-align: center;
    background-color: #1a1a1a;
    width: 20%;
    height: 310px;
    #border: 5px solid dimgray;
    color: white;
    margin-top: 90px;

}
.flexbox-title{
    position: absolute;
    left: 40%;
    top: 40px;
    width: 20%;
    color: white;
    font-weight: bold;
    #margin: 0 auto;
    font-size: 25px;
    line-height: 40px;
    color: white;
    justify-content: center;
}
.flexbox-text-title{
    color: white;
    font-size: 18px;
    line-height: 100%;
}
.flexbox-text{
    font-size: 12px;
    line-height: 100%;
    text-align: justify;
    padding: 0px 10px;
    padding-top: 20px;
}
.flexbox-text a, .flexbox-text-title a{
    white-space: pre-wrap;
}
.flexbox-image{
    margin-top: 20px;
    object-fit: cover;
    width: 80%;
    height: 50%;
}
.flexbox-category-container{
    margin-top: 10px;
    position: absolute;
    display: inline-flex;
    width: 100%;
}
ul.flexbox-category{
    display: inline-flex;
    line-height: 30px;
    width: 100%;
    padding-left: 0%;
    justify-content: center;

}
li.flexbox-category-item{
    text-decoration-line: none;
    list-style: none;
    text-decoration: none;
    text-align: center;
    width: 10%;
}
li.flexbox-category-item a{
    color: white;
}
/*Hover*/
li.navbar-item:hover a,
li.navbar-item:focus-within a{
    color: white;    
}
li.navbar-item:hover,
li.navbar-item:focus-within{
    background-color: #EC1D24; 
    #cursor: pointer;
}
.search-button:hover .search-image{
    width: 70%;
}
li:hover .flexbox,
li:focus-within .flexbox{
    display: inline-flex;
    visibility: visible;
}
li.flexbox-category-item a:hover,
li.flexbox-category-item a:focus-within{
    color: #EC1D24;
}
.flexbox-item:hover .flexbox-text-title a,
.flexbox-item:focus-within .flexbox-text-title a{
     color: #EC1D24;   
}
.flexbox-text a:hover,
.flexbox-text a:focus-within{
    color: #EC1D34;
}

/* Headlight */
.random-image{
    width: 30%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.6);
}
.about-title{
    font-size: 12px;
    line-height: 2;
    width: 50%;
    margin: 0 auto;
    margin-top: 40%;
    background-color: gold;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    text-align: center;
    text-transform: uppercase;
}
.about-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-align: left;
}
.about-text-small{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-align: left;
    text-transform: capitalize;
}
.about-button-frame{
    width: 30%;
    background-color: white;
    margin: 0 auto;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
.about-button{
    margin: 0 auto;
    text-align: center;
}

.about-me-outter{
    background-color: black;
    box-shadow: 0px 5px 6px black;
}
.about-me-inner{
    width: 80%;
    height: 540px;
    margin: 0 auto;
    display: flex;
    #border: 5px solid #EC1D24;
    border-top: 0px;
    background-image: url(../images/the_avengers-wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*News-posts*/
.news-container{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    #padding: 30px;
    #border: 5px solid #EC1D24;
    #border-top: 0px;
    margin-top: 1%;
}

.news{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 100%;
    background-color: black;
    margin: 0 auto;
    padding: 20px;
}
.news-text{
    height:30%;
    bottom: 1%;
    background-color: black;
    width: 100%;
    
}
.new{
    position: absolute;
    font-size: 16px;
    text-decoration-line: none;
    color: dimgray;
    width: 80%;
    height: 50%;
}
.news-title{
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
    text-decoration-line: none;
    color: #EC1D24;
    font-weight: bold;
    text-transform: uppercase;
}
.news-image{
    #padding: 10px;
    margin: 0 auto;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.new{
    display:block;
}

.new:hover{
    color: white;
}
/*Comics-posts*/
.coms-container{
    width: 80%;
    height: 540px;
    margin: 0 auto;
    #border: 5px solid #EC1D24;
    #border-top: 0px;
    margin-top: 1%;
}
.coms{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
}
.coms-text{
    position: absolute;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}
.com{
    font-size: 18px;
    text-decoration-line: none;
    color: white;
}
.coms-title{
    font-size: 30px;
    text-decoration-line: none;
    color: white;
    text-transform: uppercase;
}
.coms-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.com{
    display: block;
}
.coms-text{
    display: none;
}
    
.coms:hover .coms-text{
    display: block;
}

/*Carousel*/
.carousel{
    position: relative;
    height: 540px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
}
.carousel-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
    #transform: translate(-100%);
}
.carousel-track{
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: all.5s ease;
}
.carousel-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel-button-prev,
.carousel-button-next{
    position: absolute;
    #z-index: 998;
    #top: 47.5%;
    width: 5%;
    height: 100%;
    background-color: transparent;
    #opacity: 0.2;
    transform: translateY(-50%);
    #border-radius: 50%;
    cursor: pointer;
    transition: all.5s ease;
    border: 0;
    outline: none;
}
.carousel-button-prev:hover,
.carousel-button-next:hover{
    background-color: black;
    width: 4%;
}
.carousel-button{
    position: absolute;
    z-index: 990;
    top: 50%;
    transform: translateY(-50%);
    #background-color: white;
    border: 0;
    cursor: pointer;
}
.carousel-button img{
    width: 80%;
    filter: invert(100%);
}
.carousel-button-prev{
    left: -4%;
}
.carousel-button-next{
    right: -4%;
}
.carousel-nav{
    display: flex;
    justify-content: center;
    padding: .5% 0;
    height: 3%;
}
.carousel-indicator{
    border: 2px solid white;
    border-radius: 2px;
    #clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    #border-radius: 50%;
    width: 1%;
    height: 100%;
    background-color: transparent;
    margin: 0 .5%;
    cursor: pointer;
    outline: none;
    transition: all.5s ease;
}

.carousel-indicator:hover{
    background-color: white;
}
.current-slide{
   background: white;
}
.slide-info{
    position: absolute;
    z-index: 996;
    left: -0.1%;
    top: 0;
    width: 25%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    background-color: rgba(0, 0, 0, 0.6);
}
.slide-title{
    font-size: 12px;
    line-height: 2;
    width: 50%;
    margin: 0 auto;
    margin-top: 50%;
    background-color: gold;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    text-align: center;
    text-transform: uppercase;    
}
.slide-text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-align: left;
}
.slide-text-small{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-align: left;
    text-transform: capitalize;
}
.carousel-link {
    position: absolute;
    z-index: 997;
    background-color: transparent;
    cursor: pointer;
    top: 30%;
    left: 5%;
    width: 15%;
    height: 30%;
}
/*Footer*/
.footer-wrapper{
    width: 100%;
    height: 220px;
    background-color: black;
    margin-top: 1%;
}
.footer{
    #margin-top: 1%;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: black;
    text-decoration-line: none;
    #position: relative;
    display: flex;
    #justify-content: left;
    align-items: center;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-item{
    width: 10%;
    height: auto;
}
.footer-logo{
   width: 100%;
    transition: all.5s ease;
}
.footer ul li{
    list-style: none;
}
.footer-nav{
    width: 80%;
    line-height: 40px;
}
.footer-social-text{
    color: dimgray;
    line-height: 40px;
    text-decoration: none;
    text-align: right;
}
.footer-social-links{
    #display: flex;
    #background-color: aqua;
    display: flex;
    padding-left: 0;
}
.footer-social-items {
    width: 33.33%;
    #height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: right;
}
.fa {
    #width: 20px;
    #color: white;
}
.footer-nav-item a:hover{
    color: white;
}
.fa:hover{
    color: white;  
}
.footer-logo:hover{
    width: 110%;
}